.ship__sprite {
  display: block;
  margin: 0 auto;
}

table.outfits {
  th {
    cursor: default;
  }
  td {
    display: inline-block;
    border: 1px solid transparent;
    cursor: pointer;
    transition: color 0.2s ease-in-out, border 0.2s ease-in-out;

    &:hover {
      background: #fffde7;
      border: 1px solid #00e676;
    }
  }
}
