// -----------------------------------------------------------------------------
 // This file contains all application-wide Sass variables.
 // -----------------------------------------------------------------------------
 // /// Regular font family
 // /// @type List
 // $text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
 // /// Code (monospace) font family
 // /// @type List
 // $code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;
 $blue: #64b5f6;
 $orange: #f69a64;
 $yellow: #f6e364;
 $purple: #cd64f6;
